.Events {
  max-width: 400px;
  height: 100vh;
  overflow: scroll;
  background-color: #212121;
  flex: 0 0 100%;
}

.EventsList {
  display: none;
}

.EventsList.selected {
  display: block;
}

@media screen and (min-width: 768px) {
  .EventsList {
    display: block;
  }

  .ButtonIcon {
    display: none;
  }
}
