.Event {
  background-color: #212121;
}
.Event .icon {
  display: block;
  fill: #c7c7c7;
  margin-right: 0.3rem;
}

.EventTitle {
  color: #fff;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 18px;
}

.EventDescription {
  color: #6b6b6b;
  padding: 0 1rem;
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
}

.EventDate {
  padding: 0.75rem 1rem;
  font-size: 1.5em;
  color: #fff;
}

.EventDetails {
  display: flex;
  justify-content: space-between;
}

.EventInfo {
  color: #c7c7c7;
  display: flex;
  align-items: center;
}

.EventInfo {
  display: flex;
  background-color: #5c5c5c;
  padding: 0.6rem 1rem;
  width: 50%;
}

.EventInfoItem {
  display: flex;
  align-items: center;
}
.EventInfoItem:first-child {
  margin-right: 0.5rem;
}
.EventInfoItem:first-child::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  margin-left: 0.5rem;
  background-color: #c7c7c7;
}
.EventInfoItem .icon {
  width: 0.8rem;
}
