.Event {
  .icon {
    fill: #fff;
    margin-right: 0.2rem;
  }
}

.EventTitle {
  color: #fff;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 18px;
  padding: 0 1rem;
  font-weight: 700;
}

.EventContent {
  padding-top: 1rem;
}

.EventDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  color: #888888;
  font-size: 0.85rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  font-weight: 300;
  overflow: hidden;
}

.ButtonEventDate {
  padding: 0.75rem 1rem;
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  svg {
    fill: white;
  }
}

.EventDetails {
  display: flex;
}

.EventInfo {
  color: #fff;
  display: flex;
  align-items: center;
  display: flex;
  background-color: #5C5C5C;
  padding: 0.6rem 1rem;
  width: 50%;
}

.EventInfoItem {
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 0.85rem;

  &:first-child {
    margin-right: 0.5rem;

    &::after {
      content: '';
      display: inline-block;
      width: 1px;
      height: 10px;
      margin-left: 0.5rem;
      background-color: #C7C7C7;
    }
  }

  .icon {
    width: 1rem;
    height: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .EventsItems {
    display: flex;
  }

  .EventInfo {
    padding: 0.6rem 1rem;
  }
}
