.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 6rem;
  background-image: linear-gradient(#6f1c50, #a42551, #ab013c);
}

.title {
  color:#fff;
  font-weight: normal;
  font-size: 2rem;

}

svg {
  fill: #fff;
  width: 4rem;
  height:4rem;
}
