.ButtonDetail {
  background-color: #818181;
  color: #fff;
  text-transform: uppercase;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  .icon {
    margin-left: 0.6rem;
    width: 1.2rem;
  }
}

.ButtonDetail.isActive {
  background-color: #D20047;
}