.container {
    font-family: Montserrat;
}

.flex-grid {
    display: flex;
}

.col {
    flex: 1;
}

@media (max-width: 400px) {
    .flex-grid {
      display: block;
    }
  }

.events {
    flex-direction: row;
    flex-wrap: nowrap;
}
li { list-style-type: none; }
