$bp-tablet: 768px;

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

.TextIcon {
  display: flex;
  align-items: center;
}

.AppContainer {
    display: flex;
}

.col {
    flex: 1;
}

.Button {
  outline: none;
  border: 0;
  cursor: pointer;
}

// .LineClamp {
//   display: -webkit-box;
//   -webkit-line-clamp: 3;
//   -webkit-box-orient: vertical;
//   overflow: hidden;
// }

@media (max-width: 400px) {
    .AppContainer {
      display: block;
    }
    .Events {
      height: unset;
    }
    .MapContainer {
      height: 50vh !important;
    }
  }

.events {
    flex-direction: row;
    flex-wrap: nowrap;
}
li { list-style-type: none; }
