.app-bar {}

.card-container {
	margin: 0 auto;
	max-width: 500px;
}

.card {
	margin-bottom: 30px;
}

.logo-img {
  margin: 20px 0;
  max-width: 200px;
}

.map-container,
.map-element {
  height: calc(100vh - 64px);
}